@import url('https://fonts.googleapis.com/css?family=Arvo%7CComfortaa%7CRighteous&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ====================CSS Variables START==================== */
:root {
  --beige: #e5d8bf;

  --orange: #e25822;

  --yellow: #f1bc31;

  --font-logo:"Righteous", cursive; 

  --font-title: "Arvo", serif;

  --font-main-txt: "Comfortaa", cursive;

}

/* ====================CSS Variables END====================== */