.App h1 {
    font-family: var(--font-logo);
    padding-left: 1%;
}

.login-nav {
    display:flex;
    justify-content: space-between;
    background: linear-gradient(15deg, var(--orange), var(--yellow))
}


/* ===========Styling for Buttons============== */
.button-contain-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.button-contain-nav button{
    height: 40px;
    background: var(--orange);
    margin-right: 2%;
    border: none;
    border-radius: 4px;
    box-shadow: 10px, 10px;
}

/* .button-contain-nav button:hover{
    border: 1px, solid, black;
} */

.button-contain-nav button a{
    text-decoration: none;
    font-family: var(--font-title);
    color: black;
}

/* ===========Styling for Buttons============== */